name: Build, Lint, Test

on:
  pull_request:
    branches:
      - main
      - dev
  push:
    branches:
      - main
      - dev
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read
jobs:
  build_lint_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          clean: true
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
      - run: npm ci
      - run: npm run build
      - run: npm run lint
      - name: Install & run Azurite
        run: npm install -g azurite
      - name: Run Azurite in Background
        shell: bash
        run: azurite-table &
      - name: Run tests
        run: npm run test:with-azurite
